/*############# The body ###################*/
body{margin: 0;padding: 0;box-sizing: border-box;background:#c8c8c8;font:600 16px/18px 'Open Sans',sans-serif;}
*,:after,:before{box-sizing:border-box;}

/*#################################### The main ################################*/
main {background-image: url(https://defimedia.info/sites/default/files/etudiants_0.jpg);background-size: cover;display: flex;justify-content: center;align-items: center;height: 100vh;}
main section {display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 20px 80px;}
/*############# The container ###################*/
.panel_admin{
width:100%;max-width:500px;min-height:590px;position: absolute;box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);}
.panel_admin_form{width:100%;height:100%;position:absolute;padding: 30px 70px 50px 70px;background:rgba(40,57,101,.9);}
.div_modif{margin-top: 1em;}
/* The titre panel */
.label_color{color: #fbfcfa;}
/* The ALL panel */
#titre_panel,
#auteur_panel,
#contenu,
#lien_panel{border:none;padding:15px 110px;border-radius:17px;color: #fbfcfa;border :  solid 2px #ffffff1a;background:#ffffff1a;}
/* The contenu panel */
#contenu{margin-top: 1em;}
#contenu{border:none;padding:30px 95px;border-radius:10px;color: #fbfcfa;border :  solid 2px #ffffff1a;}
/* The button panel */
#button_panel{border:none;padding:15px 150px;border-radius:17px;border :  solid 2px #ffffff1a;background:#fbfcfa;}
#button_panel:hover{color: #fbfcfa;cursor: pointer;background:#74b0f1;}

/* The ALL input */
#titre_panel,
#auteur_panel,
#contenu,
#lien_panel,
#button_panel,
.button-submit{margin-top: 1em;}
input {color: #007fff;}
input:hover {border :  solid 2px #ffffff1a;background:#288518;}

/*####################################The ALL RESPONSIVE With the Query ################################*/
/* The ALL Media Query */
@media screen and (min-width: 329px) and (max-width: 649px) {
/**** The container ****/
.panel_admin{width:100%;max-width:400px;min-height:570px;}
/**** The ALL panel ****/
#titre_panel,
#auteur_panel,
#contenu,
#lien_panel{padding:15px 60px;}
/**** The contenu panel ****/
#contenu{padding:30px 50px;
}
/**** The button panel ****/
#button_panel{padding:15px 101px;}
}

@media screen and (min-width: 200px) and (max-width: 412px) {
/*############# The container ###################*/
/**** The titre panel ****/
.label_color{font-size: 7px;}
.panel_admin{width:100%;max-width:200px;min-height:400px;}
.div_modif{margin-top: 0.20em;}
.panel_admin_form{padding: 30px 70px 50px 27px;}
/**** The ALL panel ****/
#titre_panel,
#auteur_panel,
#contenu,
#lien_panel{padding:7px 30px;font-size: 7px;}
/**** The contenu panel ****/
#contenu{padding:25px 30px;font-size: 7px;}
/**** The button panel *** */
#button_panel{padding:7px 52px; font-size: 8px;}
}
     